body{
    background-color: #000000;
    color: white;
}
.home{
    text-align: center;
    padding-top: 30px;
}
.home h2{
    margin-top: 100px;
    margin-bottom: 30px;
}
.home span{
    color: white;
    padding: 5px 20px;
    font-weight: 700;
    background-color:rgb(10, 102, 194);
    border-radius: 5px;
}
.home p{
    padding: 35px 400px 10px 400px;
    line-height: 2rem;
}
@media (max-width:640px) {
    .home{
        text-align: center;
    }
    .home h2{
        margin-top: 55px;
        margin-bottom: 20px;
    }
    .home span{
        color: white;
        padding: 5px 10px;
        font-weight: 700;
        background-color:rgb(42, 3, 184);
        border-radius: 5px;
    }
    .home p{
        padding: 30px 35px 20px 35px;
        line-height: 2rem;
    }
}
