body{
    background-color: #000000;
    color: white;
}

@media (min-width:640px) {
    footer{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    } 
}

.content{
    padding: 100px 300px 0 300px;
    text-align: center;
    margin-bottom: 20px;
}

.content h2{
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}

.content p{
    padding: 0  50px 10px 50px;
}

.skill{
    margin-top: 20px;
}
.skill span{
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 5px;
    margin: 10px;
}
@media (max-width:640px) {
    .content{
        text-align: center;
        padding: 100px 0 0 20px;
    }

    .content h2{
        padding-bottom: 30px;
        font-size: 25px;
        font-weight: 600;
    }

    .content p{
        padding: 0  30px 20px 30px;
    }
    

    .skill{
        margin-top: 20px;
    }
    .skill span{
        padding: 5px 20px;
        font-weight: 600;
        border-radius: 5px;
        margin: 10px;
    }

    footer{
       margin-top: 100px;
    } 
}